.StartPage {
  --color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;

  background-color: white;
  color: black;
  transition: background-color 0.5s 0.5s, color 0.5s;

  &.has-btn-hovered {
    background-color: black;
    text-shadow: 0 0 20px var(--color), 0 0 40px var(--color), 0 0 60px var(--color);
    color: var(--color);
    transition: background-color 0.5s,
    color 1s 0.5s,
    text-shadow 1s 0.5s;
  }

  &.has-btn-clicked {
    .cross-btn-container {
      button {
        border: var(--color) 1000px solid;
        opacity: 0;
        transition: border 1s, opacity 1s;
      }
    }
  }

  .Header {
    flex: 0.4;
  }

  .cross-btn-container {
    flex: 1;

    button {
      white-space: nowrap;
      animation: fadein 0.5s alternate;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    bottom: -50px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
