.Beauty {
  background-color: black;

  .black-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

  }

  .canvas-container {
    overflow: hidden;
    animation: fadein 3000ms linear;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}